a{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}
div{
    padding: 0;
    margin: 0;
}

.main__container{
    margin: 50px auto;
    border: 2px solid grey;
    width: 450px;
    height: 650px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.content__block{
    max-width: 350px;
    margin: 15px auto;
}


.title__block{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img__block img{
    height: 110px;
    width: 100px;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.subtitle__block{
    margin-top: 25px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}


.icon__container{
    max-width: 250px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.item__block{
    height: 100px;
    width: 100px;
    border: 1px solid rgba(128, 128, 128, 0.336);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    box-shadow: inset -5px -5px 5px 0 rgba(221, 216, 216, 0.774), 
    inset 5px 5px 5px 0 rgba(221, 216, 216, 0.774);
}
.item__block img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}


.modal__container{
    display: none;
    position: fixed; 
    z-index: 2; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal__content{
    background-color: #fefefe;
    margin:275px auto;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}
.modal__content img{
    width: 25px;
    height: 25px;
}
.modal__insta-link{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.modal__insta-link button{
    border-radius: 10px;
    border: 2px solid grey;
}

.number__block{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 260px;
    margin-top: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.facebook__link-block img{
    width: 40px;
}
.number__subblock{
    border: 1px solid rgba(128, 128, 128, 0.336);
    width: 200px;
    border-radius: 15px;
    box-shadow: inset -5px -5px 5px 0 rgba(221, 216, 216, 0.774), 
    inset 5px 5px 5px 0 rgba(221, 216, 216, 0.774);
}


.links__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 35px;
    max-width: 370px;
}
.link{
    height: 35px;
    width: 140px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#FFFF;
    box-shadow:inset -5px -5px 5px 0 rgba(80, 78, 78, 0.774), 
    inset 5px 5px 5px 0 rgba(80, 78, 78, 0.774);
}
.link + .link{
    margin-left: 10px;
}   
.rent-car{
    background-color: green;
}
.apartment{
    background-color: orange;
}
.self-storage{
    background-color: blue;
}

@media(max-width:470px){
    .main__container{
        max-width: 400px;
    }
}
@media(max-width:417px){
    .main__container{
        max-width: 350px;
    }
    .link{
        font-size: 14px;
    }
    .title__block{
        max-width: 325px;
    }
}
@media(max-width:370px){
    .main__container{
        max-width: 330px;
    }
}